@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>

    <!--added navigation bar-->
    <div class="navigation">

        <a href="#">home</a>
        <a asp-controller="Companies" asp-action="Index">companies</a>
    </div>
   


    <div class="row">

        <div class="col-md-6">
            <h2>
                What is H-1B?
            </h2>

            The H-1B is a temporary (nonimmigrant) visa category that allows employers to petition for highly educated foreign professionals to work in “specialty occupations” that require at least a bachelor’s degree or the equivalent.
            Jobs in fields such as mathematics, engineering, technology, and medical sciences often qualify. Typically, the initial duration of an H-1B visa classification is three years, which may be extended for a maximum of six years.
            <h2>Why H-1B?</h2>
            The H-1B visa is your ticket to staying and working in the US after you graduate, and H-1B visa sponsorship is a highly coveted route to post-graduate employment for international students.
            You can stay in the US for up to three years on an H-1B visa, which can then be extended for a further three years.
            To get an H-1B visa, you need to be sponsored by an employer, who will petition the United States Citizenship and Immigration Services (USCIS) on your behalf.

        </div>
        <br />
        <div class="col-md-6">
            <img src="~/images/H1bimg1.jfif" style="height:100% ; width:100%" />
        </div>
    </div>
    <h2>
        About us
    </h2>
    Candidates aspiring to apply for a company can use our application to do due diligence about the
    work sponsorship provided by the organization. Our application would provide users with multiple
    ways to check whether an organization would sponsor their work visa or not. Users can search with
    the company name, the company name with role they are seeking to apply, or just the linked.in
    job post link.
    <h2>
        Our Story
    </h2>
    As fellow graduate students of Fall-2021 at Seattle university, Pujith, Sagar, Sanchita and Ramya noticed that there are several challenges
    international students face while looking for employment opportunities. So we decided to ease up this process by developing a web application which would
    tell the end user, if the company he/she is seeking a job at would sponsor the work visa.


</p>
@*@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))*@
<script src="_framework/blazor.server.js"></script>