@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
} 

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<p>
    <div class="row">

        <div class="col-md-6">
            <h2>
                What is H-1B?
            </h2>

            The H-1B is a temporary (nonimmigrant) visa category that allows employers to petition for highly educated foreign professionals to work in “specialty occupations” that require at least a bachelor’s degree or the equivalent.
            Jobs in fields such as mathematics, engineering, technology, and medical sciences often qualify. Typically, the initial duration of an H-1B visa classification is three years, which may be extended for a maximum of six years.
            <h2>Why H-1B?</h2>
            The H-1B visa is your ticket to staying and working in the US after you graduate, and H-1B visa sponsorship is a highly coveted route to post-graduate employment for international students.
            You can stay in the US for up to three years on an H-1B visa, which can then be extended for a further three years.
            To get an H-1B visa, you need to be sponsored by an employer, who will petition the United States Citizenship and Immigration Services (USCIS) on your behalf.

        </div>
        <br />
        <div class="col-md-6">
            <img class = "h1bimage" src="~/images/H1bimg1.jfif" />
        </div>
    </div>
 
</p>
<script src="_framework/blazor.server.js"></script>