@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h1>@ViewData["Title"]</h1>
<p> We believe that privacy is more than an issue of compliance and endeavor to manage personal information in accordance with our core value of respect for the individual.</p>