@model IEnumerable<ContosoCrafts.WebSite.Models.CompanyModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h1>
   This Page is under Progress
</h1>
