<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
 
    <style>
        .footer {
            bottom: 0
        }
        .navigation {
            overflow: hidden;
            background-color: #252150;
        }
            .navigation a {
                float: left;
                color: aliceblue;
                text-align: center;
                padding: 20px 16px;
                text-decoration: blink;
                width: 100px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }

                .navigation a:hover {
                    color: #000;
                    background: #ddd;
                }


        /* Create three equal columns that floats next to each other */
        .footer1 .columnn {
            float: left;
            margin-top: 148px;
            width: 33.33%;
            color: white;
            padding: 10px;
            background-color: #252150;
            height: 190px;
            text-align: center /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .footer1 .roww:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/images/logo.png" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/Index">Geek Sponsors</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        
            <div class="footer1">
                <div class="roww">
                  <div class="columnn">
                    <h2>Contact Us</h2>
                    <h6>svinayak@seattleu.edu</h6>
                    <h6>ranupoju@seattleu.edu </h6>
                    <h6>pneelagiri@seattleu.edu</h6>
                    <h6>sjain4@seattleu.edu</h6>
        
                  </div>
                  <div class="columnn">
                    <h2>Maintened By</h2>
                    <h6>Sagar</h6>
                    <h6>Ramya</h6>
                    <h6>Pruthvi</h6>
                   <h6> Sanchita</h6>
                  </div>
                  <div class="columnn">
                    <h2>Privacy Statement</h2>
    
                    <h6> © 2020 Copyright: Geek Sponsors </h6>
                  </div>
              
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>