@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>
    <h2>
        About us
    </h2>
    Candidates aspiring to apply for a company can use our application to do due diligence about the
    work sponsorship provided by the organization. Our application would provide users with multiple
    ways to check whether an organization would sponsor their work visa or not. Users can search with
    the company name, the company name with role they are seeking to apply, or just the linked.in
    job post link.

    <h2>
        Our Story
    </h2>
    As fellow graduate students of Fall-2021 at Seattle university, Pujith, Sagar, Sanchita and Ramya noticed that there are several challenges
    international students face while looking for employment opportunities. So we decided to ease up this process by developing a web application which would
    tell the end user, if the company he/she is seeking a job at would sponsor the work visa.
</p>